
// Converted Variables

$Button-spaceH: $g-controlsSpaceH !default;
$Button-fontSize: $g-fontSize !default;
$Button-borderRadius: $g-borderRadius !default;
$Button-color: $g-mono-40 !default;
$Button-bgColor: transparent !default;
$Button-borderColor: $g-mono-40 !default;
$Button-borderSize: $g-controlsBorderSize !default;
$Button-height: $g-controlsHeight !default;
$Button-primary-color: $g-primary !default;
$Button-primary-bgColor: transparent !default;
$Button-primary-borderColor: $g-primary-dark !default;

// Custom Media Query Variables


/*　sircus-components-button
======================================== */

.Button {
  font-size: $Button-fontSize;
  line-height: ($Button-height - calc($Button-borderSize * 2));
  display: inline-block;
  box-sizing: border-box;
  height: $Button-height;
  margin: 0;
  padding: 0 $Button-spaceH;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: $Button-color;
  border: $Button-borderSize solid $Button-borderColor;
  border-radius: $Button-borderRadius;
  outline: none;
  background-color: $Button-bgColor;
  background-image: none;
  box-shadow: none;
  appearance: none;
}


.Button.is-disabled,
.Button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
}


.Button:hover,
.Button:focus,
.Button:active,
.Button.is-active {
  text-decoration: none;
  color: #fff;
  border-color: $Button-borderColor;
  background-color: $Button-borderColor;
}


.Button--primary {
  background-color:$Button-primary-bgColor;
  border-color: $Button-primary-borderColor;
  color:$Button-primary-color;
}
.Button--primary:hover,
.Button--primary:focus,
.Button--primary:active,
.Button--primary.is-active{
  background-color:$Button-primary-color;
  color:#fff;
  border-color: $Button-primary-borderColor;
}
